.project_list {
    height: 90.2%;
    background-color: #000;
}

.project_list_box {
    padding-left: 150px;
    padding-right: 150px;
    height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    position: relative;
}

.slide-right {
    animation: slideRight 1s ease forwards;
}
  
.slide-left {
    animation: slideLeft 1s ease forwards;
}


@keyframes slideRight {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
}
  
@keyframes slideLeft {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
}

.project_list_box::-webkit-scrollbar {
    display: none;
}

.library,
.petshop,
.todolist,
.calculator {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 75px;
    margin-bottom: 75px;
    opacity: 0;
}

.project_preview{
    width: 60%;
    position: relative;
}

.project_preview img {
    width: 100%;
    border-radius: 20px;
}

.link_box {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 20%;
    bottom: 0;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    overflow: hidden;
    transition: height 0.5s ease;
    text-align: right;
}

.link_box a {
    width: 100%;
    text-decoration: none;
}

.link_box p {
    opacity: 1;
    width: 100%;
    color: #fff;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 15px;
    text-shadow: 2px 2px 3px #000;
    text-align: right;
}

.link_box:hover {
    height: 40%;
}

.project_info{
    color: #fff;
}

.project_title,
.project_with {
    font-size: 0.7rem;
}

.project_title span {
    font-size: 2rem;
}

.project_with span {
    font-size: 1rem;
}

.project_with span:nth-child(3),
.project_with span:nth-child(5)
 {
    padding-left: 25px;
}

.scroll_arrow {
    position: absolute;
    bottom: 100px;
    right: 25px;
    opacity: 70%;
    animation: bounce 0.7s ease infinite;
}

.hidden {
    opacity: 0;
    transition: opacity 0.5s ease;
}

.scroll_arrow button {
    background: none;
    border: none;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(5px);
    }
}

.arrow_image {
    width: 50px;
}

