.project_footer {
    display: flex;
    justify-content: space-between;
    height: 5%;
    align-items: center;
    border-top: 5px solid #024486;
    padding-right: 50px;
    padding-left: 50px;
    background-color: #000;
}

.project_footer p {
    color: #effaff;
    font-size: 0.6rem;
}

.footer_links_box {
    display: flex;
}

.footer_links_box a{
    width: 25px;
    height: 25px;
    background-color: #fff;
    border: none;
    border-radius: 100%;
    margin-left: 20px;
}

.footer_links_box a:hover {
    cursor: pointer;
}

.footer_links_box a img{
    width: 25px;
    border-radius: 100%;
}
