.skills_box {
    background-color: #EFFAFF;
    box-sizing: border-box;
    border-radius: 30px;
    height: 25%;
    margin-right: 50px;
    margin-left: 50px;
    transition: height 0.5s ease;
}

.skills_box.expanded {
    height: 60%;
}

.skills {
    padding: 20px;
    height: 100%;
    clip-path: inset(0 0 100% 0);
    transition: clip-path 3s ease;
}

.skills.expanded {
    clip-path: inset(0 0 0 0);
}

.skills_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.skills_title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.skills_title p {
    font-size: 1.7rem;
    font-weight: 600;
}

.skills_title img {
    width: 30px;
    height: 30px;
    margin-left: 8px;
}

.skills_switching_about {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills_switching_about button {
    border: none;
    background-color: #EFFAFF;
}

.skills_switching_about button:hover {
    cursor: pointer;
}

.skills_switching_about img {
    width: 20px;
    height: 20px;
    margin: 0;
}

.skills_switching_about p {
    font-size: 0.8rem;
    margin: 0;
}

.front_end_part,
.back_end_part,
.tool_part,
.db_server_part {
    background-color: #fff;
    border-radius: 30px;
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    white-space: nowrap;
    overflow-x: scroll;
}

.front_end_part::-webkit-scrollbar,
.back_end_part::-webkit-scrollbar,
.tool_part::-webkit-scrollbar,
.db_server_part::-webkit-scrollbar {
    display: none;
}

.db_server_part {
    display: flex;
}

.server_part {
    margin-left: 17.5%;
}

.front_end_part p,
.back_end_part p,
.tool_part p,
.db_server_part p {
    margin-bottom: 5px;
    font-size: 0.8rem;
    color: #024486;
}

.front_end_part img,
.back_end_part img,
.tool_part img,
.db_server_part img {
    width: 40px;
    height: 40px;
    border-radius: 15px;
    margin-left: 25px;
    margin-right: 10px;
}